.titreh3 {
    width: 65%;    
}


#story,
#characters,
#place,
#studio {
    scroll-behavior: smooth;
}


// CSS pour l'animation des titres

$vitesseTitre: 2s;

.Animetitre,
.Animetitre2 {
	opacity: 0;
	}

.animateTitle,
.animateTitle2 {
	display:inline-block;
	position: relative;
	opacity: 1;
	}

.animateTitle {
	animation: AnimateTitre1 $vitesseTitre ease-in-out;
	}

.animateTitle2 {
	animation: AnimateTitre2 $vitesseTitre ease-in-out;
	}

// Keyframes animation des titres
@keyframes AnimateTitre1 {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes AnimateTitre2 {
    0% {
      transform: translateY(150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
