//menu burger



@media (max-width: 700px) {
    .main-navigation {
        height: 80px;
    }
    .site-title {
        display: none;
    }
}


// section nomination 

@media (max-width: 700px) {
    .titreNomination {
        font-size: 15px;
      
        
}
}
    
