//menu burger
@media (max-width:1850px) {
    .logoposition {
        top:60%;
    }
}

@media (max-width:1600px) {
    .logoposition {
        top:58%;
    }
}

@media (max-width: 1440px) {
    .site-footer::after {
        display: none;
     }
    .main-navigation {
        width: 100%;
    }
    .main-navigation a {
        display: none;
    }
    .burger {        
        left: 48%;
    }
    .main-navigation ul {
        justify-content: center;
        width: 50%;
    }
    .menuFull.nav_open {
        width: 100%;
    }
    .logoposition {
        top: 56%;
     }
     .main-navigation ul {
        padding-left: 0px !important;
     }
    .titreh3 {
        width: 100%;
    }
}

@media (max-width: 1340px) {
    .site-footer::before {
        display: none;
    }
    .nominationOscar {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:950px) {
    #flower {
        width:7%;
    }
    #chat_orange {
        width: 13%;
    }
    .logoposition {
        top: 100%;
     }
     .nominationOscar {
        flex-direction: column;
    }
}


@media (max-width: 700px) {
    .titreNomination {
        font-size: 25px;
    }
    .main-navigation {
        height: 80px;
        top: 0px;
    }
    .site-title {
        display: none;
    }
    .burger {
        left: 45%;
    }
    #orchid {
        width: 22%;
        left: 1%;
    }
    #hibiscus {
           top: 76%;
    }
}

@media (max-width: 600px) {
    .titreNomination {
        font-size:15px; 
        font-weight: 0;
        line-height: 15px;
    }
    .menuFull a {
        font-size: 34px;
    }
    
    #chat_bleu {
        width: 110px;
        top: 150px;
        left: 267px;
    }

    figcaption {
        max-width:300px;
    }

    figure img{
        max-width:  300px;
    }

    figure {
        max-width:300px;
        margin:0; 
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    h2, h3 {
        font-size: 26px;
    }
    .swiper {
        padding: 0;
    }
}

 

@media (max-width: 320px) {
    .banner video {
        display: none;
    }

    #orchid {
        width: 22%;
        left: 1%;
    }

    #hibiscus {
        top: 86%;
    }

}