
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@800&display=swap');


 #story,
 #characters,
 #place,
 #studio {
    scroll-behavior: smooth;
 }


// Création et animation de l'icon burger
.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
    top: -38px;
    left: 1280px;

    span {
        width: 100%;
        height: 4px;
        display: block;
        background-color: black;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;

        &::before, 
        &::after {
            content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        transition: transform 0.5s ease-in-out;
        }

        &:before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
        }
    }
 &.active {
    span {
        background-color: transparent;
		&::before {
			transform: translateY(0px) rotateZ(45deg);
		}
		&::after {
			transform: translateY(0px) rotateZ(-45deg);
		}
	}

}   
}



// mise en forme de la barre nav

// .site-title {
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }

.signature {
    
    text-align: center;
    font-family: "Roboto Mono" , monospace;
    height: 12px;
}


// Titre menu burger

.main-navigation {
	width: 1440px;
    position: fixed;
}

.menuFull.nav_open {
         margin-top: 80px;
         position: fixed;
         opacity: 1;
         height: 100vh;
         visibility: visible;
         display: block;
         transition: opacity 0.5s ease-in, height 0.5s ease-in;
         width: 1440px;
         overflow: hidden;
        
        
    }
.menuFull {
        & a {
         text-decoration: none;
         font-family: "Roboto Mono" ,monospace;
         font-size: 64px;
         font-weight: bold;
         
        
     }
        & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;

       
        & a:hover {
            filter: drop-shadow(0px 0px 5px #ff5c00);
	            -webkit-filter: drop;
            
        }
        
    }

}

.liste {
  padding: 0;  
}

.titreMenuBurger {
    width: 1440px;
    display: flex;
    justify-content: center;
}
.logoMenuBurger {
    margin-top: 30px;
    width: 200px;
       
}

// Page menu burger



     @keyframes fadeInRight {
  
        0% {
            opacity: 0;
            left: 20%;
        }
    
        100% {
            opacity: 1;
            left: 0;
        }
    }
   
.menu-items {
    display: none;
    background-color: #FFF5E9;
}    

// Animation Flottement des chats
#chat_bleu,
#chat_orange,
#chat_gris {
	animation: floatAnimation 5s infinite alternate;
  }


#chat_bleu,
#chat_orange,
#chat_gris,
#sunflower,
#orchid,
#random_flower,
#flower,
#hibiscus {
    position: absolute;
}


//Position fleur
#orchid {
    width: 170px;
    top: 50px;
    left: -54px;
}

#random_flower {
    width: 75px;
    top: 445px;
    left: 1396px;
}

#flower {
    width: 70px;
    top: 350px;
    left: 213px;
}
#sunflower {
    width: 216px;
    top: 100px;
    left: 1040px;
}

#hibiscus {
    width: 580px;
    top: 530px;
    left: 1140px;
}

#chat_bleu {
    width: 110px;
    top: 150px;
    left: 267px;
}

#chat_orange {
    width: 105px;
    top: 580px;
    left: 190px;
}

#chat_gris {
    width: 154px;
    top: 350px;
    left: 1076px;
}

ul {
    margin: 0 !important; 
}

