
 .logo {
   position: fixed;
   
 }

 .logoposition {
    position: absolute;
    top: 620px;

 }

.banner img {
    z-index: 2;
    animation: floatAnimation 3s ease-in-out 0s infinite;
    max-width: 620px ;

    }
    @keyframes floatAnimation{
        
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(10px, 0px); }
    50%  { transform: translate(10px, 10px); }
    75%  { transform: translate(0px, 10px); }
    100%   { transform: translate(0, 0px); }
    }

.banner {
    
    overflow: hidden;
}   
.banner video {
    
    margin-top: 80px;
    z-index: -1;
}



