#fond_ss_nuages{
position: relative;
//background-image: url('/images/section_lieu_ss_nuages.png') !important;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
    }  
    
