.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display:flex;
    flex-direction: row;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

.swiper-slide img {
    display: block;
    width: 100%;
  }

